body {
    margin: 0;
    font-family: 'Cairo' -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.homeContainer {
    padding: 10px;
    /* display: flex; */
    /* justify-content: flex-start; */
    align-items: center;
}

.blogs {
    margin-bottom: 30px;
    background-color:rgb(247, 247, 247);
    padding:10px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color:black;
}
a:hover{
color:tomato
}   
h3{
    margin: 0px;
}

.container2{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-top:10px
}
.btn{
    background-color: black !important;
}

.editInput{
    margin-right: 3px;
}
.editAndCancelBtn{
    padding: 2px;
    margin-right: 3px;
}

.editIcon{
    cursor: pointer;
    color:tomato
}

.searchInput{
    width: 100%;
    border-radius: 7px;
    border: 3px solid tomato;
    padding: 5px;
}

.searchInput:focus{
    outline: none;
}

.headerAndIconDiv{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

link{
    color:red;
}