.container{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    margin-top:10px;
    margin-bottom: 20px
}
.btn{
    background-color: black !important;
}

.searchHeader{
    color:tomato;
    font-weight: bolder;
    font-size: xx-large;
    margin:20px 0px;

}